<form hx-put="/kids/{{ kid.id }}"
    hx-target="body">
    
    <label>
        Name:
        <input type="text" name="name"
            value="{{ kid.name }}" />
    </label>
    
    <label>
        Nickname:
        <input type="text" name="nickname"
            value="{{ kid.nickname }}" />
    </label>
    
    <label>
        Date of birth:
        <input type="text" name="date_of_birth"
            value="{{ kid.date_of_birth }}" />
    </label>
    
    <button type="submit">Update Kid</button>
</form>