{% raw %}{% extends "base.html" %}
{% block title %}{% endraw %}{{ entity_plural_name | capitalize }}{% raw %}{% endblock %}
{% block content %}{% endraw %}
<h1>Your {{ entity_plural_name | capitalize }}</h1>
<ul>
    {% raw %}{% for {% endraw %}{{ entity_singular_name }}{% raw %} in {% endraw %}{{ entity_plural_name }}{% raw %} %}
    <li>
        <a
            href="/{% endraw %}{{ entity_plural_name }}{% raw %}/{{ {% endraw %}{{ entity_singular_name }}{% raw %}.id }}">{{
            {% endraw %}{{ entity_singular_name }}{% raw %}.description }}</a>
        <button
            hx-delete="/{% endraw %}{{ entity_plural_name }}{% raw %}/{{ {% endraw %}{{ entity_singular_name }}{% raw %}.id }}"
            hx-swap="delete" hx-target="closest li">X</button>
    </li>
    {% endfor %}{% endraw %}
</ul>
<h2>Add a {{ entity_singular_name | capitalize }}</h2>
<form hx-post="/{{ entity_plural_name }}" hx-target="body" hx-target-errors="#errors">
    <label>
        Description:
        <input type="text" name="description" />
        <span id="description-errors"></span>
        <button type="submit">Add {{ entity_singular_name | capitalize }}</button>
    </label>
</form>
<span id="errors"></span>
{% raw %}{% endblock %}{% endraw %}