{% raw %}
    {% extends "base.html" %}
    {% block title %}Show{% endblock %}
    {% block content %}
        <span id="errors"></span>
        {% for flash in flashes %}<p>{{ flash.message }}</p>{% endfor %}
    {% endraw %}
    <h1>
        {{ entity_singular_name | capitalize }}:
        {% raw %}
            {{
        {% endraw %}
        {{ entity_singular_name }}
        {% raw %}
            .id }}
        {% endraw
        %}
    </h1>
    {% raw %}
        {% block update %}
            {% include
        {% endraw %}
        "{{ entity_plural_name }}/update.html"
        {% raw %}
            %}
        {% endblock %}
    {% endblock %}
{% endraw %}

